nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #a69cac;
	display: table;
	width: 100%;
}

nav li {
	display: table-cell;
}

li a {
	display: block;
	color: #000;
	text-align: center;
	padding: 15px 15px;
	text-decoration: none;
}

li a:hover {
	background-color: #474973;
	color: #fbf1f3;
}

.title {
	text-align: center;
	color: #161b33;
}

h2, h3 {
	text-align: center;
	color: #474973;
}

* {
	font-family: Arial;
}

body {
	background-color: #f1eeeb;
}

p {
	max-width: 750px;
	margin: auto;
	padding: 15px;
	text-align: justify;
	font-family: 'Times New Roman', Times, serif;
	color:#0d0c1d;
}

footer {
	text-align: center;
	background-color: #a69cac;
	padding: 15px;
	color:#000;
	font-family: 'Times New Roman', Times, serif;
}

em {
	font-style: italic;
	font-family: 'Times New Roman', Times, serif;
}

strong {
	font-style: bold;
	font-family: 'Times New Roman', Times, serif;
}

/* subscripts */
sub {
	font-family: 'Times New Roman', Times, serif;
}

/* superscripts */
sup {
	font-family: 'Times New Roman', Times, serif;
}

/* class selector */
.code {
	font-family: 'Courier New', Courier, monospace;
	max-width: 750px;
	margin: auto;
}

/* affects only the strong elements in the code ID selector */
.code strong {
	font-style: bold;
	font-family: 'Courier New', Courier, monospace;
	color: #D35410;
}

code {
	font-family:'Courier New', Courier, monospace;
	color:rgb(42, 42, 207);
}
